PORT=3000
NODE_ENV=development

# MongoDB Atlas Credentials Template
MONGODB_USERNAME="your_mongodb_username"
MONGODB_PASSWORD="your_mongodb_password"
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.0al5pfn.mongodb.net/monett?retryWrites=true&w=majority"
# JWT Config
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="7d"
# Google OAuth Credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
# Gmail SMTP Real Email Config
MAIL_USER="your_email@gmail.com"
MAIL_PASS="your_app_password"
MAIL_FROM="Monett <your_email@gmail.com>"
